.img {
  min-height: 30rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: url("../../landing_page/img/bg-masthead.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.A {
  font-size: 110px;
  text-align: center;
  font-family: "Times New Roman";
  margin-top: 75px;
}
.Z {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 0px;
  font-size: 32px;
}
.W {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  margin-top: -25px;
}
.B {
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
}
.but {
  font-size: 20px;
  color: rgb(214, 221, 188);
  background-color: rgb(16, 81, 119);
  width: 135px;
  height: 55px;
  margin-top: 0px;
  font-family: "Microsoft YaHei";
}
.button {
  color: rgb(214, 221, 188);
  width: 99px;
  height: 35px;
  background-color: rgb(16, 81, 119);
}
.C {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
.D {
  margin-top: 2px;
  margin-left: 200px;
  justify-content: center;
  display: flex;
  width: 900px;
}
