.documents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ant-card {
  .ant-card-head {
    height: 1.5rem;
  }
  width: 140px;
  height: 172px;
}
#new-doc {
  i {
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}
