.editor-area {
  justify-content: center;
  display: flex;
}
.editor-content {
  display: flex;
  overflow: auto;
  flex-grow: 1;
  flex-direction: column;
  background-color: #fff;
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  min-height: 1173px;
  height: 100%;
  max-width: 816px;
  box-shadow: 0 1px 6px #ccc;
}
.editor-title-box {
  padding-top: 5rem;
  margin: 0 6rem;
  .editor-title {
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    line-height: 50px;
    box-shadow: none;
    outline: none;
  }
}
.DraftEditor-editorContainer {
  margin: 1rem 6rem;
  span {
    color: #1c1e29;
    letter-spacing: 0;
    font-family: Akkurat Std, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: 1.125rem;
    line-height: 2rem;
  }
}
.warning-text {
  background: url(https://s1.url.cn/tim/docs/static/img/underline-wave-83198c779a.png)
    left bottom repeat-x;
  padding-bottom: 2px;
}
