.header-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 4.5rem;
  background: linear-gradient(-180deg, #fff 78%, hsla(0, 0%, 100%, 0));
  text-align: center;
  line-height: 4rem;
  .header-title {
    overflow: hidden;
    margin: 0 auto;
    max-width: 29rem;
    color: #1c1e29;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  .header-button-left {
    position: absolute;
    left: 1rem;
    margin-top: 0.3rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    button {
      width: 3rem;
      height: 3rem;
      border: none;
      margin-right: 1rem;
    }
  }
  .header-button-right {
    margin-right: 4rem;
    button {
      margin-top: 0.5rem;
      border-radius: 0.6rem;
    }
  }
}
