.header-bar {
  display: flex;
  justify-content: space-between;
  margin: 1rem;

  .header-button-left {
    button {
      border: none;
    }
  }

  .header-button-right {
    margin-right: 4rem;
    button {
      border-radius: 0.6rem;
    }
  }
}
