.header-bar {
  display: flex;
  justify-content: space-between;
  margin: 1rem;

  .header-button-left {
    .export-button {
      i {
        svg {
          width: 1rem;
          height: 1rem;
        }
      }
    }
    button {
      border: none;
      margin-right: 1rem;
    }
  }

  .header-button-right {
    margin-right: 4rem;
    button {
      border-radius: 0.6rem;
    }
  }
}
