.login-page {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  background-color: rgb(245, 245, 217);
  height: 600;
}

.login-container {
  margin-top: 5rem;
  background-color: rgb(245, 245, 217);
}
.logo {
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 3.5rem;
  height: 9rem;
  color: rgb(7, 7, 7);
  font-variant: petite-caps;
  font-family: auto;
}
.login-title {
  margin-left: -35px;
  color: rgb(7, 7, 7);
}
.login-form-button {
  margin-left: 70px;
}
