.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #CCDDFF;
}

.signup-container {
  margin-top: 5rem;
}

.signup-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
}
