.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: rgb(245, 245, 217);
  margin-top: 1px;
  margin-bottom: -15px;
  height: 100vh;
  background: url("../../landing_page/img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.signup-container {
  margin-bottom: 80px;
  margin-top: 5rem;
  margin-left: -500px;
  width: 400px;
  //background-color: rgb(245, 245, 217);
}

.logo_sign {
  margin-top: 14px;
  margin-bottom: 14px;
  height: 9rem;
  margin-left: 180px;
  color: rgb(7, 7, 7);
  font-variant: petite-caps;
  font-family: auto;
  font-size: 60px;
}
.signup-title {
  margin-left: -24px;
  color: rgb(7, 7, 7);
}
.checkbox {
  margin-left: 60px;
}
.sign-button {
  margin-left: 100px;
}
